h1 {
    text-align: center;
    font-size: 64px;
    color: #032B3A;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

button {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #3FA7D8;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}