nav {
    display: left;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #2F394D;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: #3FA7D6;
}